.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}
.cart{
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-top: 20px;
    margin-right: 10px;
    height: 600px;
}
.cart h2{
    text-align: center;
}