.product{
    width: 400px;
    height: 480px;
    box-shadow: 2px 5px 20px 0.1px rgba(128, 128, 128, 0.534);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
}
.product img{
    height: 300px;
    width: 350px;
    padding: 10px;
}
.product-name{
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
}
.product-detail{
    margin-left: 20px;
}
.cart-btn{
    color:rgb(49, 49, 49);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:rgb(107, 209, 107);
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
}
.cart-btn:hover{
    background-color: #95A0A7;
    color: aliceblue;
}