.product{
    width: 400px;
    height: 480px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
}
.product img{
    height: 300px;
    width: 390px;
    padding: 10px;
}
.product-name{
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
}
.product-detail{
    margin-left: 20px;
}
.cart-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:lightgreen;
    border: none;
    border-radius: 0 0 8px 8px;
}
.cart-btn:hover{
    background-color: #95A0A7;
    color: aliceblue;
}