.product{
    width: 400px;
    height: 600px;
    border: 1px solid #95A0A7;
    margin-top: 20px;
}
.product img{
    height: 300px;
    width: 400px;
}
.product-name{
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
}